@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #131316;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 16px;
    display: grid;
    align-content: center;
    height: 100vh;
}

main {
    background-color: rgba(255, 255, 255, 0.05);
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    max-height: 80vh;
}

fieldset {
    max-width: 30%;
    padding: 10px;
    display: flex;
    flex-flow: wrap column;
}

.char-select {
    display: flex;

}

.char-details {
    display: flex;
    flex-flow: wrap column;
}

.green {
    background-color: green;
}
.green:hover {
    background-color: rgb(3, 148, 3) !important;
}

[type=radio] { 
    display: none;
  }
[type=radio] + img {
    filter: brightness(10%);
}
[type=radio]:checked + img {
    filter: brightness(100%);
}

.cwdt-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 50px;
}

.cwdt-table div {
    padding: 5px;
    border: 2px solid #2e2e2e;
    text-align: center;
   }

.cwdt-table div:hover {
    background-color: #ffffff10;
   }
