@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
 display: grid;
 align-content: center;
 justify-content: center;
 min-height: 100vh;
 background-color: #111;
 font-family: "Poppins", sans-serif;
 color: #fff;
 font-size: 16px;
}

.flex {
 display: flex;
}

#wrapper {
 display: flex;
 justify-content: space-around;
 padding: 10px;
 border-radius: 5px;
 background-color: #222;
}
#wrapper > div {
width: 50%;
}


#cwdt-config {
 display: flex;
 flex-flow: column;
}
#cwdt-config label {
 display: flex;
 flex-flow: column;
}
[type=radio] { 
 position: absolute;
 opacity: 0;
 width: 0;
 height: 0;
}
[type=radio] + img {
 filter: brightness(10%);
}
[type=radio]:checked + img {
 filter: brightness(100%);
}
#class-select {
 display: grid;
 grid-template-columns: 1fr 1fr;
}

/* CWDT table styling */
.green {
 background-color: green;
}
.red {
 background-color: red;
}
.green:hover {
 background-color: rgb(3, 148, 3) !important;
}

#cwdt-header,
#cwdt-content {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 margin: 0 5px;
}

#cwdt-header div,
#cwdt-content div {
 padding: 5px;
 border: 2px solid #2e2e2e;
 text-align: center;
}

#cwdt-content div:hover {
 background-color: #ffffff10;
}