.poke-font {
 font-family: 'Press Start 2P', cursive;
}

#poke-all {
 height: 100%;
 flex-flow: column nowrap;
}
#poke-all p {
 margin-right: 1ch;
}
#poke-all > div {
 display: flex
}
#pokedex-container {
 height: 1000px;
}
#pokedex-left-closed {
 display: flex;
 border-radius: 100px 0 0 100px;
 width: 500px;
 background-color: red;
 flex-flow: column nowrap;
 justify-content: center;
 align-items: center;
 font-size: 1em;
}
#pokedex-left {
 display: none;
 border-radius: 100px 0 0 100px;
 width: 500px;
 flex-flow: column;
 background-color: red;
}
#pokedex-left-top {
height: 250px;
}
#pokedex-left-center {
 background-color: antiquewhite;
 color: #111;
 height: 100%;
 margin: 10px;
 padding: 10px;
 overflow-y: auto;
}
#pokedex-left-bottom {
 height: 200px;
}
#pokedex-center {
 width: 50px;
 background-color: rgb(145, 1, 1);
}
#pokedex-right {
 width: 500px;
 display: none;
 flex-flow: column nowrap;
}
#pokedex-right-top {
 position: relative;
 width: 100%;
 height: 200px;
 overflow: hidden;
}
#pokedex-right-top-left {
 width: 200px;
 background-color: rgb(255, 0, 0);
}
#pokedex-right-top-right-rotate {
 position: absolute;
 left: -60px;
 width: 400px;
 height: 300px;
 transform: rotate(45deg);
 background-color: rgb(255, 0, 0);
}
#pokedex-right-bottom {
 width: 100%;
 height: 100%;
 border-radius: 0 0  100px 0;
 background-color: red;
}

#poke-card-output-right {
 height: 300px;
 width: 100%;
 margin: 10px;
 padding: 10px;
 overflow-y: auto;
 background-color: antiquewhite;
 color: #111;
 font-size: 1.5em;
}
#poke-card-stats {
 width: 50%;
}
#poke-card-stats > div {
 display: flex;
 justify-content: space-between;
}