#poke-all {
 height: 100%;
 padding: 1rem;
 background-color: #c3c8b1;
 flex-flow: column nowrap;
 overflow: auto;
}
#poke-all p {
 margin-right: 1ch;
}
#poke-all > div {
 display: flex
}
#pokedex-container {
 height: 1000px;
}
#pokedex-left-closed {
 display: flex;
 border-radius: 100px 0 0 100px;
 width: 500px;
 background-color: red;
 flex-flow: column nowrap;
 justify-content: center;
 align-items: center;
 font-size: 1em;
}
#pokedex-left {
 display: none;
 border-radius: 100px 0 0 100px;
 width: 500px;
 flex-flow: column;
 background-color: red;
}
#pokedex-left-top {
height: 250px;
}
#pokedex-left-center {
 background-color: antiquewhite;
 color: #111;
 height: 100%;
 margin: 10px;
 padding: 10px;
}
#poke-card-output-left {
 background-color: #c3c8b1;
 width: 100%;
}
#pokedex-left-bottom {
 height: 200px;
}
#pokedex-center {
 width: 50px;
 background-color: rgb(145, 1, 1);
}
#pokedex-right {
 width: 500px;
 display: none;
 flex-flow: column nowrap;
}
#pokedex-right-top {
 position: relative;
 width: 100%;
 height: 200px;
 overflow: hidden;
}
#pokedex-right-top-left {
 width: 200px;
 background-color: rgb(255, 0, 0);
}
#pokedex-right-top-right-rotate {
 position: absolute;
 left: -60px;
 width: 400px;
 height: 300px;
 transform: rotate(45deg);
 background-color: rgb(255, 0, 0);
}
#pokedex-right-bottom {
 width: 100%;
 height: 100%;
 border-radius: 0 0  100px 0;
 background-color: red;
}
#poke-card {
 padding: 1rem;
}
#poke-card img {
 width: 100%;
}
#poke-card-output-right {
 height: 300px;
 width: 100%;
 margin: 10px;
 padding: 10px;
 overflow-y: auto;
 background-color: antiquewhite;
 color: #111;
 font-size: 1.5em;
}
#poke-card-stats {
 
}
#poke-card-stats > div {
 display: flex;
 justify-content: space-between;
}
#poke-card-title {
 display: flex;
 align-items: center;
}

/* Coloring pokemon types */
#poke-card-types {
 display: flex;
}
#poke-card-types p {
 padding:  5px 10px;
 margin: 0 5px;
 border-radius: 15px;
 font-size: 0.8em;
}
.bug {
 background-color:#729f3f;
}
.dark {
 background-color:#707070;
}
.dragon {
 background-color:#53a4cf;
}
.electric {
 background-color:#eed535;
}
.fairy {
 background-color:#fdb9e9;
}
.fighting {
 background-color:#d56723;
}
.fire {
 background-color:#fd7d24;
}
.flying {
 background-color:#3dc7ef;
}
.ghost {
 background-color:#7b62a3;
}
.grass {
 background-color:#9bcc50;
}
.ground {
 background-color:#f7de3f;
}
.ice {
 background-color:#51c4e7;
}
.normal {
 background-color:#a4acaf;
}
.poison {
 background-color:#b97fc9;
}
.psychic {
 background-color:#f366b9;
}
.rock {
 background-color:#a38c21;
}
.steel {
 background-color:#9eb7b8;
}
.water {
 background-color:#4592c4;
}

