@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #131316;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 16px;
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.disclaimer {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
}

.disclaimer a {
    text-decoration: none;
    color: #ff7300;
}

#drumkit img {
    max-width: 100px;
    aspect-ratio: 1;
}

#drumkit{
    width: 500px;
    height: 200px;
    margin-inline: auto;
    position: relative;
}

#drumkit img {
    position: absolute;
}

#drumkit img:hover {
    scale: 1.05;
}

.kick {
    max-width: 150px !important;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}
.kick:hover {
    scale: 1.01;
}

.hihat {
    bottom: 50px;
    left: 50px;
    z-index: 1;
}

.openhat {
    bottom: 100px;
    left: 100px;
    z-index: 1;
}

.ride {
    bottom: 100px;
    right: 100px;
}

.tom {
    bottom: 0;
    right: 100px;
}

.snare {
    bottom: 0;
    left: 100px;
}

.tink {
    top: 0;
    right: 0;
}

.clap {
    top: 0;
    left: 0;
}

@media (max-width: 500px) or (any-pointer: coarse) {
    #drumkit {
     -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
     -o-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
     transform: rotate(90deg);
    }
}