@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #131316;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 16px;
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.disclaimer {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
}

.disclaimer a {
    text-decoration: none;
    color: #ff7300;
}

#output {
    position: relative;
    max-height: 75vh;
    width: 75vw;
    aspect-ratio: 2;
}

.drum {
    max-width: 20%;
    position: absolute;
    transform: translate(-50%);
}

.drum span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.drum p {
    color: #e5e2db;
    font-size: 7vw;
    text-transform: uppercase;
    text-shadow: 0px 0px 20px #000000, 0px 0px 20px #000000;
}

.drum img {
    width: 100%;
}
.drum img:hover {
    scale: 1.05;
}

/* custom positioning for drumkit elements */
.kick {
    max-width: 25% !important;
    bottom: 0;
    left: 50%;
    z-index: 1;
}
.kick:hover {
    scale: 1.01;
}

.hihat {
    top: 33%;
    left: 33%;
    z-index: 1;
}

.openhat {
    top: 15%;
    left: 50%;
    z-index: 1;
}

.ride {
    top: 33%;
    right: 15%;
    z-index: 1;
}

.tom {
    bottom: 0;
    right: 5%;
}

.snare {
    bottom: 0;
    left: 25%;
}

.tink {
    top: 0;
    right: -10%;
}

.clap {
    top: 0;
    left: 10%;
}

/* Rotates drumkit on small screens */
@media (max-width: 500px) or (any-pointer: coarse) {
    #drumkit {
     -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
     -o-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
     transform: rotate(90deg);
    }
    #output {
        width: 75vh;
    }
}